    <header>
      <div class="about-wrapper" id="about">
        <div class="about-description">
          <h1><%= @user.first_name %> </br> <%= @user.last_name %></h1>
          <p> <%= @user.description %></p>
        </div>
        <% if @user.photo %>
          <%= cl_image_tag @user.photo.try(:key) %>
        <% end %>
      </div>
    </header>

    <main>
      <div class="works-wrapper" id="works">
        <div class="works-header">
          <h2>Portfolio</h2>
          <p> <%= @user.works_description %> </p>
        </div>
        <div class="works-pictures-container">
          <% if @projects.any? %>
            <% @projects.each_with_index do |project, index| %>
              <div class="work-image">
                <% if project.image %>
                  <%= cl_image_tag project.image.try(:key) %>
                <% end %>
                <div class="work-description">
                  <p><%= project.date %></p>
                  <p><%= project.description %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <% if @user.sections.any? %>
        <% @user.sections.each do |section| %>

          <div class="sections-wrapper">

            <div class="section-header">
              <h2><%= section.title %></h2>
              <p><%= section.description %></p>
              <a href="<%= section.link %>" target="_blank">Lien instagram</a>
            </div>

            <div class="section-image">
              <% if section.images.any? %>
                <% section.images.each do |image| %>
                 <%= cl_image_tag image.try(:key) %>
                <% end %>
              <% end %>

            </div>

          </div>

        <% end %>
      <% end %>


    </main>


    <div class="contact-wrapper" id="contact">
      <h2>Contact:</h2>
      <div class="social-links">
        <a href="tel:<%= @user.phone_number %>"><i class="fas fa-phone"></i></a>
        <a href="mailto:<%= @user.email %>"><i class="fas fa-envelope"></i></a>
        <a href="<%= @user.url_linkedin %>" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="<%= @user.url_instagram %>" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
