<% admins_only do %>
  <div class="user-show-wrapper">
    <div class="user-show-top">
      <h2>Mes informations:</h2>
      <%= link_to 'Modifier mon profil',  edit_admin_user_path(@user), class: 'classic-button' %>
    </div>
    <div class="user-show-info">
      <% if @user.photo %>
        <%= cl_image_tag @user.photo.try(:key), width: 200 %>
      <% end %>
      <div class="user-infos">
          <h4>Prénom:</h4>
          <p><%=@user.first_name  %></p>

          <h4>Nom: </h4>
          <p><%=@user.last_name %></p>

          <h4>Numéro de téléphone:</h4>
          <p><%=@user.phone_number  %></p>

          <h4>Titre:</h4>
          <p><%=@user.title %></p>

          <h4>Profil description:</h4>
          <p><%=@user.description %></p>

          <h4>Linkedin:</h4>
          <p><%=@user.url_linkedin %></p>

          <h4>Instagram:</h4>
          <p><%=@user.url_instagram %></p>

          <h4>Facebook:</h4>
          <p><%=@user.url_facebook %></p>

           <h4>Works description:</h4>
           <p><%= @user.works_description %></p>
      </div>
    </div>
  </div>
<% end %>

