<!DOCTYPE html>
<html>
  <head>
    <title>AurorePortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <div class="nav-bar-left">
        <a href="#">Home</a>
        <a href="#about">About</a>
        <a href="#works">My Works</a>
        <a href="#">Contact</a>
      </div>
      <div class="nav-bar-right">
        <div class="phone-number">
          <p>Call me:</p>
          <p class="red-phone-number">+33 (0)6 18 01 86 34</p>
        </div>
        <span class="line"></span>
        <div class="icon">
          <a href="https://www.linkedin.com/in/aurore-demierre/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="mailto: aurore.demierre@gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
    </nav>

    <header>
      <div class="about-wrapper" id="about">
        <div class="about-description">
          <h1>Aurore </br> Demierre</h1>
          <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <img src="https://images.unsplash.com/photo-1548207775-a7676e36f20a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="">
      </div>
    </header>

    <div class="works-wrapper" id="works">
      <div class="works-header">
        <h2>My Works</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <div class="works-pictures-container">
        <div class="img1" id="works-image">
          <div id="works-description">
            <h3>What did I do?</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit</p>
          </div>
        </div>
        <div class="img2" id="works-image">
          <div id="works-description">
            <h3>What did I do?</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit</p>
          </div>
        </div>
        <div class="img3" id="works-image">
          <div id="works-description">
            <h3>What did I do?</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit</p>
          </div>
        </div>
        <div class="img4" id="works-image">
          <div id="works-description">
            <h3>What did I do?</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit</p>
          </div>
        </div>
        <div class="img5" id="works-image">
          <div id="works-description">
            <h3>What did I do?</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit</p>
          </div>
        </div>
        <div class="img6" id="works-image">
          <div id="works-description">
            <h3>What did I do?</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit</p>
          </div>
        </div>
      </div>
    </div>

    <div class="instagram-wrapper">
      <div class="works-header">
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>

    </div>



    <%= yield %>
  </body>
</html>
